* {
    font-family: 'Montserrat';
    --cor-laranja: #ff9531;

}

body{
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
    background-color: rgb(231, 231, 231);
}

header{
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.row {
    margin: 0;
}

.container-fluid {
    padding: 0;
}

.msg{
    background-color: #D4EDDA;
    color: #155734;
    border: 1px solid #c3e6cb;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}


.btn-warning{
    background-color: var(--cor-laranja);
    font-weight: 600;
    border-color: var(--cor-laranja);
}

.btn-outline-warning{
    font-weight: 600;
    border-color: var(--cor-laranja);
    color: var(--cor-laranja);
}

.btn-warning:hover{
    background-color: #fda049;
}

.btn-outline-warning:hover{
    background-color: var(--cor-laranja);
}


main{
    padding-top: 55px;
}

#search-container input:not(:placeholder-shown){
    border-color:#fda049;
    border-width: 3px;
}

#search-container input:placeholder-shown{
    border-color: #ffcfa1;
    border-width: 2px;
}

#formulario{
    text-align: center;
    padding-left: 20px;
}

#btn-comprar{
    color: #fff;
}

#btn-submit{
    margin-top: 20px;
}

.navbar{
    height: 60px;
}

#logo{
    font-weight: 600;
}

span{
    color: var(--cor-laranja);
    font-weight: 900;
}

#search-container {
    background-image: url("../img/2.png");
    background-size: auto;
    background-position: center;
    height: 400px;
    padding: 50px;
    text-align: center;
}

#search-container h1{
    color: #fff;
    margin-bottom: 30px;
    font-weight: 900;
}

#search-container form{
    width: 50%;
    margin: 0 auto;
}

#products-container{
    padding: 50px;
}

#products-container h2{
    margin-bottom: 10px;
}

#products-container .subtitle{
    color: #757575;
    margin-bottom: 30px;
}

#cards-container{
    display: flex;
}

#products-container .card{
    flex: 1 1 24%;
    max-width: 25%;
    border-radius: 10px;
    padding: 0;
    margin: 5px;
    margin: .5%;
}

#products-container img{
    max-height: 200px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.card .card-title {
    color: #212121;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.card-valor{
    font-size: 20px;
    color: #757575;
    font-weight: bold;
}

footer{
    text-align: center;
    background-color: #212529;
    color: #fff;
    padding: 30px;
    bottom: 0;
    width: 100%;
    position: absolute;
}

footer p{
    margin-bottom: 0;
}

#product-create-container{
    padding: 30px;
}

#product-create-container label{
    font-weight: bold;
}

#product-create-container input:not(:placeholder-shown),
#product-create-container select:not(:placeholder-shown),
#product-create-container textarea:not(:placeholder-shown){
    font-size: 15px;
    border-color:#fda049;
    border-width: 3px;
}

#product-create-container input:placeholder-shown,
#product-create-container select:placeholder-shown,
#product-create-container textarea:placeholder-shown{
    font-size: 15px;
    border-color: #ffcfa1;
    border-width: 2px;
}


#image-container,
#info-container{
    margin-top: 30px;
}

#image-container img{
    border-radius: 10px;
}

#info-container h1{
    font-size: 36px;
    font-weight: 900;
}

#info-container p{
    margin: 0;
    font-size: 14px;
    display: flex;
}

#info-container h3,
#descricao-container h3{
    font-size: 20px;
    font-weight: bold;
}

#info-container ion-icon{
    font-size: 20px;
    color: #fda049;
    margin-right: 5px;
}

#info-container #product-submit{
    margin: 20px 0;
}

#items-list{
    list-style: none;
    padding-left: 0;
}

#items-list li{
    display: flex;
}

.items{
    color: black;
    font-weight:300
}

.link-ver-todos{
    color: #ff9531;
    
}

.md.hydrated{
    font-size: 24px;
    margin-right: 6px;
}